[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/krzpelzeto
[access "refs/for/refs/*"]
	read = group user/krzpelzeto
	push = group user/krzpelzeto
	label-Code-Review = -2..+2 group user/krzpelzeto
	label-Verified = -1..+1 group user/krzpelzeto
	rebase = group user/krzpelzeto
	removeReviewer = group user/krzpelzeto
	submit = group user/krzpelzeto
[access "refs/heads/*"]
	read = group user/krzpelzeto
	create = group user/krzpelzeto
	push = +force group user/krzpelzeto
	pushMerge = group user/krzpelzeto
[access "refs/tags/*"]
	push = +force group user/krzpelzeto
	pushTag = group user/krzpelzeto
	pushSignedTag = group user/krzpelzeto
